<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>CUSTOMER RELATIONSHIP MANAGEMENT</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
    	 <h1>CUSTOMER RELATIONSHIP MANAGEMENT</h1>
        <hr>
        <h1>Customers List</h1>

        <a th:href="@{/showNewCustomerForm}" class="btn btn-primary btn-sm mb-3"> Add Customer </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${listCustomers}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td> <a th:href="@{/showFormForUpdate/{id}(id=${customer.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/deleteCustomer/{id}(id=${customer.id})}" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>