<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>CUSTOMER RELATIONSHIP MANAGEMENT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>CUSTOMER RELATIONSHIP MANAGEMENT</h1>
        <hr>
        <h2>Save Customer</h2>

        <form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="POST">
            <input type="text" th:field="*{firstName}" placeholder="Customer First Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{lastName}" placeholder="Customer Last Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{email}" placeholder="Customer Email" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Customer</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Customer List</a>
    </div>
</body>

</html>